@charset "UTF-8";
/* CSS Document */

/*My Color Palette
Color 1: #4A94A5
Color 2: #84DDF2
Color 3: #A5754A
*/

/******************************

	Color and Fonts

******************************/
body {
font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
color: black;
/*background-color:skyblue;*/
background-image:  url("../images/background.gif");
}
#footer p {
text-align: right;	
}


#header, #sidebar, #content, #footer {
	background-color: rgba( 255, 255, 255, 0.5);
	margin-border: 4px;
	border: none;
	border-radius: 8px;
	border-color: grey;
	padding-left: 4px;
	padding-right: 4px;
}
/******************************

	Transparent Background

******************************/



/******************************

			Basic Structure

******************************/
#wrapper {
	width: 960px;
	padding: 5px;
	margin: 20px auto;
}

#header {
	height: 100px;
}

#sidebar {
	float:left;
	width:300px;
}

#content {
	float: right;
	width: 600px;
}

#footer {
	clear: both;
}

/******************************

		Responsive Width
	
******************************/
@media screen and (max-width: 980px) {
	#wrapper {
		width: 94%;
	}
	#content {
		width: 65%;
	}
	#sidebar {
		width: 30%;
	}
	

@media screen and (max-width: 700px)  {
	#content, #sidebar {
		width: auto;
		float: none;
	}
	#header {
		height: auto;
	}
}
	




